
<div class="col-md-4 col-md-offset-4 text-center">
  <h2>Вход на сайт</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group text-left">
      <%= f.label :email, "ЛОГИН" %><br />
      <%= f.email_field :email, autofocus: true, placeholder: 'user#@svfu.local', class: 'form-control' %>
    </div>

    <div class="field form-group text-left">
      <%= f.label :password, 'ПАРОЛЬ' %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Войти", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
