<div class="text-center"><h3>Пожалуйста прочтите перед началом</h3></div>
<br><br><br>
<div class="col-md-offset-2 col-md-8">
<div class="well">
  <p><strong>1.</strong> Просьба представить о себе информацию в форме внизу</p>
  <p><strong>2.</strong> Пожалуйста, внимательно прочитайте вопрос и постарайтесь дать максимально развернутый ответ.
  Просьба закрепить электронный файл (word, pdf), и выделить в нем основную информацию, чтобы облегчить процедуру проверки.</p>
  <p><strong>3.</strong>
  В случае если вы не можете ответить на вопрос (не можете оставить комментарий), постарайтесь описать причину, почему вы не смогли ответить. Если на этот вопрос смог ответить другой факультет (институт), укажите наименование этого факультета или института.
  </p>
  <p><strong>4.</strong>
  Если у вас имеются вопросы по работе сайта и по вопросам анкеты, либо у вас выходит ошибка при заполнении, то пишите на почту <a href='mailto:ryo-environment@eis.hokudai.ac.jp'>ryo-environment@eis.hokudai.ac.jp</a>
  </p>
  <%= link_to 'Скачать результаты теста', tests_export_excel_path(format: :xlsx) %>
</div>
<%= form_for @user_info, url: create_user_info_path, method: 'post' do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Ф.И.О.' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Фамилия Имя Отчество' %>
  </div>
  <div class="form-group">
    <%= f.label :department, 'Поздразделение' %>
    <%= f.text_field :department, class: 'form-control', placeholder: 'Подразделение' %>
  </div>
  <div class="form-group">
    <%= f.label :contact, 'Контактная информация' %>
    <%= f.text_field :contact, class: 'form-control', placeholder: 'Контактная информация' %>
  </div>
  <div class="form-group text-center">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
  <% end %>
  </div>

</div>
