<div class="text-center"><h3>Пожалуйста прочтите перед началом</h3></div>
<br><br><br>
<div class="col-md-offset-2 col-md-8">
<div class="well">
<p><strong>1.</strong> Просьба представить о себе информацию в форме внизу</p>
<!--<p><strong>2.</strong> Откройте слайд «Распределение». Пожалуйста, постарайтесь понять, на какие именно "Критерии oценки" (пункт анкеты) Вас просят ответить .</p>-->
<p><strong>2.</strong> Пожалуйста, посмотрите слайд "Анкета" и свой личный балл на приведенном там "Критерии оценки"
Пожалуйста, постарайтесь объяснить, почему Вы получили баллы в "Критериях оценки" в бланке "Опишите Ваши мероприятия, планы и т.д."
Просьба закрепить электронный файл (word, pdf), документ, содержащий информацию, которую Вы использовали для высчета личного балла. В том случае, если у Вас нет такого документа, просьба подробно и детально описать прчичину, по которой у Вас его нет или по которой Вы не можете его прикрепить.</p>
<!--<p><strong>4.</strong> "В том случае, если у Вас 0 баллов, объясните, почему Ваш университет не осуществляет соответствующую деятельность.
Например, если это связано с системой и законодательством Вашей страны, пожалуйста, дайте подробный ответ, так как у нас возникает научный интерес к этому вопросу.</p>
-->
<p><strong>3.</strong>
В случае если вы не можете ответить на вопрос (не можете оставить комментарий), постарайтесь описать причину, почему вы не смогли ответить. Если на этот вопрос смог ответить другой факультет (институт), укажите наименование этого факультета или института.
</p>
<%= link_to 'Скачать результаты теста', tests_export_excel_path(format: :xlsx) %>
<!--
<p><strong>3.</strong> В том случае, если данная деятельность не осуществляется ввиду отсутствия стратегии и плана развития в Вашем университете, опишите это в Вашем ответе. "</p>
<p><strong>4.</strong> "Если ваше предприятие не отвечает нашим критериям, напишите об этом в бланке. В том случае если Вы знаете другие образовательные учреждения, отвечающие нашим критериям,
пожалуйста, напишите их названия."</p>-->
</div>
<%= form_for @user_info, url: create_user_info_path, method: 'post' do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Ф.И.О.' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Фамилия Имя Отчество' %>
  </div>
  <div class="form-group">
    <%= f.label :department, 'Поздразделение' %>
    <%= f.text_field :department, class: 'form-control', placeholder: 'Подразделение' %>
  </div>
  <div class="form-group">
    <%= f.label :contact, 'Контактная информация' %>
    <%= f.text_field :contact, class: 'form-control', placeholder: 'Контактная информация' %>
  </div>
  <div class="form-group text-center">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
  <% end %>
  </div>

</div>
