<div class="container">
  <div class="col-md-3">
    <% if @other_results.count > 0 %>
    <strong>Ответы других подразделений:</strong>
    <br><br>
    <% end %>
    <% @other_results.each do |oth_res| %>
      <div class="well">
        <p><strong><%= @deps.find(oth_res.department_id).name %></strong></p>
        <%= oth_res.text %>
      </div>


    <% end %>
  </div>
  <div class="col-md-6">
    <div class="text-center well">
      <h3>
        <%= @question.first.name %>.
        <%= @question.first.text %>
      </h3>
    </div>

    <%= form_for @result, url: (tests_take_path + '?page=' + (@question.current_page + 1).to_s), method: 'post' do |f| %>
      <div class="form-group">
        <%= f.label :text, 'Комментарии к ответу' %>
        <%= f.text_area :text, size: '100x10', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :text, 'Прикрепите файл:' %>
        <%= f.file_field :attachment %>
      </div>
      <%= f.hidden_field :question_id, value: @question.first.id %>
      <%= f.hidden_field :id %>
      <% if @question.current_page == @question.total_pages %>
        <div class="form-group text-center">
          <%= f.submit 'Завершить анкету', class:'btn btn-success' %>
        </div>
      <% else %>
        <div class="form-group text-center">
          <%= f.submit 'Сохранить ответ', class:'btn btn-success' %>
        </div>
      <% end %>
    <% end %>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= progress(@question) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress(@question) %>%">
      </div>
    </div>
    <div class="text-center">
      <%= will_paginate @question %>
    </div>
    <div class="test">
      <%= @yoyo %>
    </div>
  </div>
</div>
